@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
//font-family: 'Press Start 2P', cursive;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Nunito', sans-serif;

*{
  // background: whitesmoke;
  padding: 4px;
  font-family: 'Nunito', sans-serif;
  // color: whitesmoke;
  body{
    background-image: url(./img/background2.jpg);
    background-size: cover;
  h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2vw;
  }

  .app-header{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    .search{
      padding:10px;
    }
    .main-app-btn{
      padding:3px;
      width: 50px;
      height: 50px;
    .main-icon{
      width: 45px;
      height: 45px;
      }
    }
  }
  .weather-head{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin-bottom: 5vh;
    h2{
      font-weight: 400;
    }
  }
  .details{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;

  }
  .loc{
    font-size: 48px;
//    text-align: left;
//    margin-left: 3vw;
  }
  .cords{
    font-size: 11px;
    // text-align: right;
    // margin-left: 3vw;
  }
  .temp{
    font-size: 40px;
  }
  .condition{
    font-size: 32px;
  }
  .saved{
    padding: 10px;
    background-color: indianred;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    
    .tab{
      position: absolute;
      height: 50px;
      width: 50px;
      left: 102%;
      bottom: 1.5vh;
      background-color: indianred;
      .tab-icon{
        height:45px;
        width:45px;
      }
    }
  }
  .hide{
    transform: translate3d(-100vw, 0, 0);
  }

.btn{
  margin-right: 5px;
  margin-bottom: 5px;

}
  }  
  }

