@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');
//font-family: 'Press Start 2P', cursive;
//font-family: 'Quicksand', sans-serif;
*{
  // background: whitesmoke;
  padding: 4px;
  font-family: 'Quicksand', sans-serif;
  // color: whitesmoke;
  body{
    background-image: url(./img/background2.jpg);
    background-size: cover;
  }  
  .weather-head{
    background-color: rgba(255, 255, 255, 0.8);
  }
  .details{
    background-color: rgba(255, 255, 255, 0.6);

  }
  .saved{
    padding: 10px;
    background-color: indianred;
    position: fixed;
    left: 0;
    bottom: 0;
    
    .tab{
      position: absolute;
      height: 50px;
      width: 50px;
      left: 102%;
      bottom: 1.5vh;
      background-color: indianred;
      .tab-icon{
        height:45px;
        width:45px;
      }
    }
  }
  .hide{
    transform: translate3d(-100vw, 0, 0);
  }
.search{ 
  color: black;
}
.loc{
  font-size: 48px;
}
.cords{
  font-size: 11px;
}
.temp{
  font-size: 40px;
}
.condition{
  font-size: 32px;
}
.btn{
  margin-right: 5px;
  margin-bottom: 5px;

}}

